@use './text.scss';
@use './custom-antd.scss';
@use './button.scss';
@use './color/color.variables.css';
*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif !important;
  font-size: 14px;
  line-height: normal;
  text-rendering: optimizeSpeed;
}

:root {
  --background-body: #cececee6;
  --background-header: #bbbbbbe6;
  --background-body-tertiary: #f8f9fa;
  --background-modal: #fff;
  --background-modal-hover: #0000000a;
  --scroll-track-background: #fff;
  --scroll-thumb-background: #ccc;
  --scroll-thumb-hover: #9e9e9e;
  --brand-name-100: black;
  --brand-name-200: black;
  --brand-social: #1565c0;
  --border-hero-right: #eee;
  --background-hero-right: linear-gradient(to right, #fff, #eee);
  --border-top-hero-right: linear-gradient(to right, transparent, #fff, #fff, transparent);
  --text-white: #000;
  --line-blue-500: #1a1443;
  --resize-button: linear-gradient(to right, #ec4899, #8b5cf6);
  --glow-card-background: #f5f6f7;
  --skill-card-background: #f5f6f7;
  --border-top-skill-card: linear-gradient(to right, transparent, #fff, #fff, transparent);
  --bs-navbar-color: rgba(0, 0, 0, 0.65);
  --bs-navbar-active-color: rgba(0, 0, 0, 1);
  --bs-navbar-hover-color: rgba(0, 0, 0, 0.8);
  --text-red-500: #f96f73;
  --text-yellow-500: #fa9348;
  --text-green-500: #b6f9d2;
  --text-pink-100: #ec4899;
  --text-pink-200: #bd21b8;
  --bs-border-color: #dee2e6;
}

[data-theme='dark'] {
  --background-body: #2c3e50;
  --background-header: #263544;
  --background-body-tertiary: transparent;
  --background-modal: #2f2f2f;
  --background-modal-hover: #ffffff14;
  --scroll-track-background: #2c3e50;
  --scroll-thumb-background: #606060;
  --scroll-thumb-hover: #d6d6d6;
  --brand-name-100: #16f2b3;
  --brand-name-200: #ec4899;
  --brand-social: #90caf9;
  --border-hero-right: #1b2c68a0;
  --background-hero-right: linear-gradient(to right, #0d1224, #0a0d37);
  --border-top-hero-right: linear-gradient(to right, transparent, #ec4899, #8b5cf6, transparent);
  --text-white: #fff;
  --line-blue-500: #1a1443;
  --resize-button: linear-gradient(to right, #ec4899, #8b5cf6);
  --glow-card-background: #101123;
  --skill-card-background: #11152c;
  --border-top-skill-card: linear-gradient(to right, transparent, #8b5cf6, #8b5cf6, transparent);
  --bs-navbar-color: #fff;
  --bs-navbar-active-color: #fff;
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --text-red-500: #f96f73;
  --text-yellow-500: #fa9348;
  --text-green-500: #b6f9d2;
  --text-pink-100: #ec4899;
  --text-pink-200: #bd21b8;
  --bs-border-color: #495057;
  .experiences-bg {
    background-image: url(/Images/bg-experiences.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

::placeholder {
  color: var(--bs-navbar-color) !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff4d;
  border-radius: 8px;
  height: 50px;
}

.header_active {
  color: var(--bs-navbar-active-color) !important;
}

.sidebar {
  .active {
    background-color: var(--background-modal-hover);
  }
}
